<table id="myTable" class="table  table-striped">
  <thead>
    <th>
      Department
    </th>
    <th>
      Equipment Type
    </th>
    <th>
      Cost
    </th>
    <th>
      Date Requested
    </th>
    <th>
      Date Notice Posted
    </th>
    <th>
      Public Notice Required?
    </th>
    <th>
      Records Validated By Department?
    </th>
    <th>
      Attachments
    </th>
    <th>
      Subscribe?
    </th>
  </thead>
  <tbody>
    <% @equipment_notice.each do |piece| %>
      <tr>
        <td>
          <%= piece.department.titlecase %>
        </td>
        <td>
          <%= piece.name.titlecase %>
        </td>
        <td>
          <%= piece.cost %>
        </td>
        <td>
          <%= piece.date_requested %>
        </td>
        <td>
          <%= piece.created_at %>
        </td>
        <% if piece.require_public_notice? %>
            <!-- following law enforcement portal, this will be further expanded -->
            <% if piece.records_shown %>
              <td><span class="label label-info">YES - AND PROVIDED</span></td>
            <% else %>
              <td><span class="label label-danger">YES - NONE REPORTED</span></td>
            <% end %>
        <% else %>
            <td><span class="label label-success">NO</span></td>
        <% end %>
        <td>
          <span class="label label-warning"><%= piece.records_shown %></span>
        </td>
        <td>
          <%= link_to "Attachments", piece.attachment_url unless piece.attachment.blank? %>
        </td>
        <% if Subscription.where("equipment_id = ?", piece.id).where("user_id = ?", current_user.try(:id)).count > 0 && current_user %>
          <td>
            <%= link_to "Unsubscribe", subscription_path(piece), method: :delete, class: "btn btn-md btn-danger"  %>
          </td>
        <% else %>
          <td>
            <%= link_to "Subscribe", new_subscription_path(:equipment_id => piece.id, :user_id => current_user.try(:id)), class: "btn btn-md btn-success" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_user %>
  <% if current_user.subscribed %>
    <%= link_to "Unsubscribe from Public Notices", unsubscribe_public_notices_path, class: "btn btn-lg btn-danger" %>
  <% else %>
  <%= link_to "Subscribe to Public Notices", subscribe_public_notices_path, class: "btn btn-lg btn-success" %>
  <% end %>
<% end %>
