
<div class="container">
  <table class="table table-striped">
    <thead>
      <th>
        Department
      </th>
      <th>
        Equipment Type
      </th>
      <th>
        Cost
      </th>
      <th>
        Date Acquired
      </th>
      <th>
        Records Validated By Department?
      </th>
      <th>
        Subscribe?
      </th>
    </thead>
    <tbody>
      <% @equipment.each do |piece| %>
        <tr>
          <td>
            <%= piece.department.titlecase %>
          </td>
          <td>
            <%= piece.name.titlecase %>
          </td>
          <td>
            <%= piece.cost %>
          </td>
          <td>
            <%= piece.date_acquired %>
          </td>
          <td>
            <%= piece.records_shown %>
          </td>
          <% if Subscription.where("equipment_id = ?", piece.id).where("user_id = ?", current_user.try(:id)).count > 0 %>
            <td class="success">
              <%= link_to "Unsubscribe from Notifications", new_subscription_path(:equipment_id => piece.id, :user_id => current_user.try(:id)) %>
            </td>
          <% else %>
            <td>
              <%= link_to "Request Notifications", new_subscription_path(:equipment_id => piece.id, :user_id => current_user.try(:id)) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
