
<div class="container">
  <table class="table table-striped">
    <thead>
      <th>
        Department
      </th>
      <th>
        Equipment Type
      </th>
      <th>
        Cost
      </th>
      <th>
        Date Acquired
      </th>
      <th>
        Public Notice Required?
      </th>
      <th>
        Records Validated By Department?
      </th>
      <th>
        Subscribe?
      </th>
    </thead>
    <tbody>
      <% @equipment.each do |piece| %>
        <tr>
          <td>
            <%= piece.department.titlecase %>
          </td>
          <td>
            <%= piece.name.titlecase %>
          </td>
          <td>
            <%= piece.cost %>
          </td>
          <td>
            <%= piece.date_acquired %>
          </td>
          <% if piece.require_public_notice? %>
              <!-- following law enforcement portal, this will be further expanded -->
              <td class="danger"><strong>YES - NONE REPORTED</strong>
          <% else %>
              <td class="success"><strong>NO</strong></td>
          <% end %>
          <td>
            <%= piece.records_shown %>
          </td>
          <% if Subscription.where("equipment_id = ?", piece.id).where("user_id = ?", current_user.try(:id)).count > 0 && current_user %>
            <td>
              <%= link_to "Unsubscribe", subscription_path(piece), method: :delete, class: "btn btn-md btn-danger"  %>
            </td>
          <% else %>
            <td>
              <%= link_to "Subscribe", new_subscription_path(:equipment_id => piece.id, :user_id => current_user.try(:id)), class: "btn btn-md btn-success" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
