<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "1033 Equipment Logger System (ELS-1033)", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Other Projects", "http://www.porkcast.com" %>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <p class="navbar-text"><%= current_user.email %></p>
          <li>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign In", new_user_session_path %>
          </li>
          <li>
            <%= link_to "Register", new_user_registration_path %>
          </li>
        <% end %>
        <li>
          <%= link_to "Law Enforcement Home Page", leos_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>
