<%= form_for Equipment.new, :remote => true, url: {:controller => :equipment, action: :create}, html: {class: "product-form"} do |f| %>
  <div class="row">
    <div class="col-xs-4">
      <div class="form-group">
        Equipment Name
        <%= f.text_field :name, class: "form-control text" %>
      </div>
      <div class="form-group">
        Total Cost to Department
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :cost, class: "form-control text" %>
        </div>
      </div>
      <div class="form-group">
        Total Value of Equipment
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :value, class: "form-control text" %>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        Quantity
        <div class="input-group">
          <span class="input-group-addon">#</span>
          <%= f.text_field :quantity, class: "form-control number" %>
        </div>
      </div>
      <div class="form-group">
        Code(s)
        <%= f.text_field :code, class: "form-control" %>
      </div>
      <div class="form-group datetime-local">
        <!-- TODO: datepicker -->
        Date Requested
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          <%= f.text_field :date_requested, class: "form-control datepicker" %>
        </div>
      </div>
      <%= f.hidden_field :department, value: current_user.department %>
      <%= f.hidden_field :creator_id, value: current_user.id %>
      <!-- TODO: nested notes -->
      <!-- TODO: attached docs -->
      <div class="form-group">
        <%= f.submit "Post New Public Notice", class: "btn btn-lg btn-success pull-right" %>
      </div>
    </div>
  </div>
<% end %>
