<!DOCTYPE html>
<html>
  <head>
    <title>Equipment Request Logger</title>
    <%= favicon_link_tag "binoculars.ico" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', 'https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css' %>

  </head>

  <body>
    <%= render 'shared/header' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <%= yield %>
    <%= render 'shared/footer' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js' %>

  </body>
</html>
