<!DOCTYPE html>
<html>
  <head>
    <title>EquipmentRequestLogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'uswds' %>
    <%= stylesheet_link_tag 'uswds', media: 'all' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'shared/header' %>
      <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
