<!DOCTYPE html>
<html>
  <head>
    <title>Equipment Request Logger</title>
    <%= favicon_link_tag "binoculars.ico" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <!-- <%= render 'shared/header' %> -->
      <%= yield %>
    <!-- <%= render 'shared/footer' %> -->
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
  </body>
</html>
