<!DOCTYPE html>
<html>
  <head>
    <title>Equipment Request Logger</title>
    <%= favicon_link_tag "binoculars.ico" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>

    <%= stylesheet_link_tag 'application', 'https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css' %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <% if notice %>
      <div class="alert alert-success"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= alert %></div>
    <% end %>
      <%= yield %>
    <%= render 'shared/footer' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js' %>

  </body>
</html>
